[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://gitlab.haskell.org/haskell-wasm/llvm-project.git
	shallow = true
[submodule "src/wasi-libc"]
	path = src/wasi-libc
	url = https://gitlab.haskell.org/haskell-wasm/wasi-libc.git
	shallow = true
[submodule "src/config"]
	path = src/config
	url = https://git.savannah.gnu.org/git/config.git
	shallow = true
